<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">

    <title>Portfolio</title>
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <style>
        
        nav{
            display: none;
            text-decoration: none;
        }

        #contact{
            margin-top:200px;
        }

       

        input:focus {
            color:red;
            border-color: red;
            outline: none; 
        }
        
        input, textarea {
            width: 250px;
            height: 25px;
            background: white;
        }

        textarea {
            height: 200px;
        }
        fieldset{
            width:100%;
            height:690px;
            
        }
        
        
        fieldset {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 10px;
            color: #00c8ff;
        }
        
        form {
            background: linear-gradient(25deg, rgb(5, 10, 10), rgb(7, 33, 7));
        }
        
        legend {
            color: rgb(14, 223, 251);
            font-weight: bold;
            background: transparent;
        }
        #submit {
            border-radius: 5px;
        }
        label {
            color: white;
            background: transparent;
        }

        #submit:hover{
            box-shadow:1px 4px 8px 4px aqua;
        }
        input:hover{
            box-shadow:1px 4px 8px 4px aqua;
        }
        textarea:hover{
            box-shadow:1px 4px 8px 4px aqua;
        }
        label{
            margin-bottom: 10px;;
        }
        #submit{
            height:33px
        }
        input{
            border-radius: 7px;
        }
        textarea{
            border-radius: 7px;
        }

        ::-webkit-input-placeholder{
            color:rgb(51, 114, 215);
            padding: 5px;
        }

        label::selection{
            color:rgb(195, 238, 22);
        }
        legend::selection{
            color:rgb(245, 130, 224);
        }
        #contact h1{
            color: aqua;
        }





        #toggle-menu:checked + label + nav {
            display: flex;
            flex-direction: column;
            gap:17px;
            color: #080707;
            text-decoration: none;
            background-color: rgb(39, 227, 241);
            position: absolute;
            top:36px; /* Adjust to your header's height */
            right: 70px;
            width: auto; /* Full width on mobile */
            padding: 20px;
            overflow: auto;
            height:70px;
        }
        
        /* Show the toggle menu icon on mobile view */
        .toggle-menu {
            display: none;

        }
        header{
            position: sticky;
            background-color: #080707;
            
        }

        #about{
           
            height: 700px;
        }
        nav a{
            text-decoration: none;
            color: #080707;
        }

        #skills h1{
            font-size:26px ;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color:rgb(241, 243, 243);
            margin-left: 14px;
            margin-bottom: 0%;
            padding-top: 100px;
            margin-top: 0%;
            background: transparent;
            z-index: 0;
        }
        #skills p{
            color:aqua;
            margin-left: 14px;
            margin-top: 30px;
            font-size: 18px;
            background:transparent;
        
        }
        #skills{
            z-index: 0;
            position: relative;
            width: 100%;
            margin-top: 0%;
            margin: 0%;
            height:800px;
        }
        .icons{
            color: aliceblue;
            font-size: 25px;
            margin-left: 75px;
            margin-top: 0%;
           
        }
        
        label{
            font-size: 24px;
            color:white;
            display: flex;       
            position: absolute;
            top:9px;
            right:70px;
        }
        #about,#projects{
            margin-left: 14px;
            margin-top: 30px;
        }
        
        

        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 10px 3%;
            display: flex;
            align-items: center;
            background-color: black;
            margin-top: 20px;
        }
        
        #h {
            color: rgb(154, 169, 183);
            font-size: 20px;
            margin-right:60px;
            background:transparent;
        }
        #h::selection{
            background-color: black;
            color: #15ebfa;
        }
        

        #about h1{
            margin-top: 100px;
            padding-top:150px ;
            font-size:25px ;
            color:aqua;
            font-family: Arial, Helvetica, sans-serif;
        }
        #about p{
            font-size: 18px;
        }
        #about p::selection{
            color:aqua;
            background-color: #080707;
        }
        header{
            z-index: 100;
        }

        #mainimg{
            height:220px;
            margin-top: 50px;
            margin-bottom: 90px;
            z-index: 10;
            margin-left:110px;
        }
        #mains{
            display: none;
        }

        nav a::selection{
            color:#e9eeef;
        }

       
        body {
            overflow-x: hidden; /* Allow vertical scrolling */
            background-color: black;
        }

        #i1{
            color: rgb(232, 236, 240);
            margin-left: 14px;
            background-color: transparent;
            font-size: 25px;
            margin-bottom: 0;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        #i1::selection{
            color: #15ebfa;

        }
        header .home1{
            background-color: #d96464;
        }
        #i2{
            color: rgb(21, 243, 239);
            background-color: transparent;
            margin-left: 14px;
            font-size: 35px;
            margin-top: 0;
            margin-bottom: 0;
            font-family:'Times New Roman', Times, serif;
        }
        #i2::selection{
            color: #e9eeef;
        }
        .animated-text {
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-left: 14px;
            margin-top: 0;
            font-weight: bold;
            color: #e9eeef;
            white-space: nowrap;
            overflow: hidden;
            border-right: 2px solid #15ebfa; /* Cursor effect */
            animation: typing 7s steps(40, end) infinite;
            margin-bottom: 0%;
            position: relative;
        }

        
        @keyframes typing {
            0% { width: 0%; }
            50% { width: 220px; }
            100%{ width: 0%;}
        }
        .animated-text::selection{
            color:rgb(233, 247, 144)
        }
        .img{
            margin-top: 20px;
            padding-top: 0%;
        }
        .img::selection{
            background-color: transparent;
        }
        #im1{
            margin-top: 0%;
            border-radius: 50%;;
            background-color: #606363;
            margin-left:14px ;
            padding:5px;
            border: 2px solid white;
            
        }

        #im1:hover{
            background-color: aqua;
            box-shadow: 0 4px 8px aqua;
            border: 2px solid rgb(13, 13, 13);
        }
        #im2{
            
            border-radius: 50%;;
            background-color: #606363;
            margin-left:6px ;
            padding:5px;
            margin-top: 0%;
            border: 2px solid white;
        }
        #im2:hover{
            background-color: aqua;
            box-shadow: 0 4px 8px aqua;
            border: 2px solid rgb(9, 5, 5);
        }
        #im3{
           
            border-radius: 50%;;
            background-color: #606363;
            margin-left:6px ;
            margin-top: 0%;
            padding:5px;
            border: 2px solid white;
        }
        #im3:hover{
            background-color: aqua;
            box-shadow: 0 4px 8px aqua;
            border: 2px solid rgb(0, 0, 0);
        }
        #desc{
            color:white;
            margin-left: 14px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 13px;

        }
        #desc::selection{
            color:black;
            background-color: aqua;
        }

        .download-btn{
            background-color: #121212;
            padding:10px;
            text-decoration: none;
            border-radius: 20%;
            margin-top: 60px;
            margin-left: 14px;
            color: aqua;
            border: 2px solid white;
            margin-bottom: 15px;
        }

        .download-btn:hover{
            background-color: aqua;
            color: rgb(21, 22, 22);
            border: 2px solid rgb(10, 4, 4);

        }

        .home1{
            background-color: #080707;
            height:600px;
        }

        @media screen and (min-width: 768px) {
            
            


           
            nav {
                display: flex;
                gap: 18px;
            }

            #mains{
                display: flex;
                height:390px;
                background: transparent;
                margin-top: 110px;
                margin-bottom: 100px;
                margin-right: 200px;
                position: absolute;
                top:10px;
                left:950px;
                transform: translate(10,950);
            }

            #projects,#about{
                margin-left:150px;
                margin-top: 35px;
            }
            .home1{
                background-color: #080707;
                height:650px;
            }
        
            nav a {
                display:flex;
                color: aqua;
                text-decoration: none;
                font-size: 16px;
                position: relative;
            }
            .toggle-menu{
                display: none;
            }
            label{
                display: none;
            }
            #mainimg{
                display: none;
            }
           
            
        
            #h {
                color: aliceblue;
                font-size: 20px;
                margin: 0;
                margin-left: 150px;
            }
            #h::selection{
                background-color: black;
                color: #15ebfa;
            }
        
            nav {
                display: flex;
                gap: 18px;
            }
        
            nav a {
                display:flex;
                color: aqua;
                text-decoration: none;
                font-size: 16px;
                position: relative;
            }
            
            nav a::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: rgb(3, 238, 238);
                transform: scaleX(0);
                transform-origin:center;
                transition: transform 0.3s ease;
            }
            
            nav a:hover::after {
                transform: scaleX(1);
            }
            
            nav a::selection{
                color:#e9eeef;
            }
            body {
                overflow-x: hidden;
                background-color: rgb(18, 18, 17);
            }


            #i1{
                color: rgb(232, 236, 240);
                margin-left: 150px;
                font-size: 25px;
                margin-bottom: 0;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            #i1::selection{
                color: #15ebfa;
                
            }
            #i2{
                color: rgb(21, 243, 239);
                margin-left: 150px;
                font-size: 35px;
                margin-top: 0;
                margin-bottom: 0;
                font-family:'Times New Roman', Times, serif;
            }
            #i2::selection{
                color: #e9eeef;
            }
            .animated-text {
                font-size: 25px;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                margin-left: 150px;
                margin-top: 0;
                font-weight: bold;
                color: #e9eeef;
                white-space: nowrap;
                overflow: hidden;
                border-right: 2px solid #15ebfa; /* Cursor effect */
                animation: typing 7s steps(40, end) infinite;
                
            }
            
            @keyframes typing {
                0% { width: 0%; }
                50% { width: 300px; }
                100%{ width: 0%;}
            }
            .animated-text::selection{
                color:rgb(233, 247, 144)
            }
            #desc{
                color:white;
                margin-left: 150px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 13px;

            }
            #desc::selection{
                color:black;
                background-color: aqua;
            }
            .img::selection{
                background-color: transparent;
            }
            .img{
                margin-top: 19px;
            }
            #im1{
                border-radius: 50%;;
                background-color: #0e0d0d;
                margin-left:150px ;
                padding:5px;
                margin-top: 4px;
                border: 2px solid white;
            }

            #im1:hover{
                background-color: aqua;
                box-shadow: 0 4px 8px aqua;
                border: 2px solid rgb(16, 14, 14);
            }
            #im2{
                
                border-radius: 50%;;
                background-color: #080707;
                margin-left:6px ;
                padding:5px;
                margin-top: 4px;
                border: 2px solid white;
            }
            #im2:hover{
                background-color: aqua;
                box-shadow: 0 4px 8px aqua;
                border: 2px solid rgb(16, 14, 14);
            }
            #im3{
               
                border-radius: 50%;;
                background-color: #1d1c1c;
                margin-left:6px ;
                margin-top: 4px;
                padding:5px;
                border: 2px solid white;
            }
            #im3:hover{
                background-color: aqua;
                box-shadow: 0 4px 8px aqua;
                border: 2px solid rgb(16, 14, 14);
            }

            .download-btn{
                background-color: #121212;
                padding:10px;
                text-decoration: none;
                border-radius: 20%;
                margin-top: 60px;
                margin-left: 150px;
                color: aqua;
                border: 2px solid white;
                margin-bottom: 15px;
            }

            .download-btn:hover{
                background-color: aqua;
                color: rgb(21, 22, 22);
                border: 2px solid rgb(10, 4, 4);

            }
            header{
                position: absolute;
            }
            #about h1{
                font-size:26px ;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color:aqua;
                margin-left: 430px;
                margin-bottom: 0%;
                padding-top: 100px;
                margin-top: 0%;
                background: transparent;
                z-index: 0;
            }
            #about{
                background-image: url('back3.jpg');
               height:690px;
               z-index: 0;
               position: relative;
               width: 100%;
               background-repeat: no-repeat;
               background-size: cover;
               margin: 0%;
               margin-bottom: 0%;
               padding-top: 0%;
                

            }
            
            
            header {
                position: fixed;
                z-index: 1000;
                top: 0;
                left: 0;
                width: 96%;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #080707;
            }
            
            
            header,.home1{
                margin-bottom: 0%;

            }
            #about p{
                font-size: 18px;
                background: transparent;
                margin-left: 150px;
                margin-top: 200px;
                margin-bottom: 0%;
            }
            #about p::selection{
                color:aqua;
                background-color: #080707;
            }
            header{
                position: sticky;
            }
            section{
                z-index: 1;
            }

            *{
                header{
                    position: fixed;
                    z-index: 1000;
                    
                }
            }

            #skills h1{
                font-size:26px ;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color:rgb(241, 243, 243);
                margin-left: 430px;
                margin-bottom: 0%;
                padding-top: 100px;
                margin-top: 0%;
                background: transparent;
                z-index: 0;
            }
            #skills p{
                color:aqua;
                margin-left: 150px;
                margin-top: 30px;
                font-size: 18px;
                background:transparent;
            
            }
            #skills{
                z-index: 0;
                position: relative;
                width: 100%;
                margin-top: 0%;
                margin: 0%;
                height:690px;
            }
            .icons{
                color: aliceblue;
                font-size: 25px;
                margin-left: 320px;
            }




            input:focus {
                color: red;
                border-color: red;
                outline: none; 
            }
            
            input, textarea {
                width: 250px;
                height: 25px;
                background: white;
            }
    
            textarea {
                height: 200px;
            }
            fieldset{
                width:100%;
                height:690px;
                
            }
            
            
            fieldset {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 10px;
                color: #00c8ff;
            }
            
            form {
                background: linear-gradient(25deg, rgb(5, 10, 10), rgb(7, 33, 7));
            }
            
            legend {
                color: rgb(14, 223, 251);
                font-weight: bold;
                background: transparent;
            }
            #submit {
                border-radius: 5px;
            }
            label {
                color: white;
                background: transparent;
            }
    
            #submit:hover{
                box-shadow:1px 4px 8px 4px aqua;
            }
            input:hover{
                box-shadow:1px 4px 8px 4px aqua;
            }
            textarea:hover{
                box-shadow:1px 4px 8px 4px aqua;
            }
            label{
                margin-bottom: 10px;;
            }
            #submit{
                height:33px
            }
            input{
                border-radius: 7px;
            }
            textarea{
                border-radius: 7px;
            }
            
            ::-webkit-input-placeholder{
                color:rgb(51, 114, 215);
                padding: 5px;
            }
    
            label::selection{
                color:rgb(195, 238, 22);
            }
            legend::selection{
                color:rgb(245, 130, 224);
            }
            #contact h1{
                color: aqua;
            }
           

        }


    </style>
   
</head>
<body>
    <div id="home" tabindex="0">
        <header>
            <a id="h">Portfolio</a>
            <input type="checkbox" id="toggle-menu" class="toggle-menu">
            <label for="toggle-menu" class="hash"><i class='bx bx-menu'></i></label>
            <nav>
                <a href="#home" >Home</a>
                <a href="#about">About</a>
                <a href="#skills">Skills</a>
                <a href="#projects">Projects</a>
                <a href="#contact">Contact</a>
                
            </nav>
        </header></div>
    <div class="home1" >
        <br><br><br><br><br><br><br>
        <br><div class="id11" data-aos="fade-right" data-aos-duration="1500">
            <h3  id="i1" style="background-color:transparent"><span style="color:rgb(16, 225, 236)">Hello,</span> It's Me</h3><br></div>
            


        <div class="id12" data-aos="fade-left" data-aos-duration="1500">
            <h2 id="i2">Shaik Umar Althaf</h2></div>           
            <br>


        <h3 class="animated-text">And I'm A <span style="color:aqua">Web Developer</span></h3>
        <div id="id13" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom" data-aos-duration="1500"><p id="desc">Aspiring Web Developer || I'm Passionate About CODING ,<br>
            And I'm Very Eager And Interested About LEARNING NEW TECHNOLOGIES.</p></div>

       <div class="img">
        <a href="#" id="im1"><i class='bx bxl-linkedin'></i></a>
        <a href="#" id="im2"><i class='bx bxl-instagram'></i></a>
        <a href="#" id="im3"><i class='bx bxl-twitter' ></i></a>
        
       </div>
       <br><br>
       <a href="path" download="filename" class="download-btn">Download CV</a>
<br>




    </div>
    <section id="about">
        <h1 id="abouth1"  data-aos="fade-right" data-aos-duration="1500">About Me</h1>
        <p style="color:white" data-aos="fade-up" data-aos-duration="1500">
            Hello! I'm Umar, an aspiring web developer at the start of my journey, building skills and exploring the exciting <br>possibilities in tech. My focus is on creating clean, functional websites that offer a smooth user experience.<br>

I’m drawn to web development for the blend of creativity and logic it offers, allowing me to bring ideas to life on the screen.<br><br>Although I’m still building my foundation, I'm excited about learning new technologies and tackling challenges <br>that will help me grow.

Beyond coding, I have a passion for anime, which has also inspired some of my projects.<br> My portfolio is a way to share my journey and connect with others who share similar interests.
        </p>
    </section>
    <section id="skills">
        <h1 data-aos="fade-down" data-aos-duration="1500">Skills</h1>
        <p >
           
           <p id="pp" data-aos="fade-right" data-aos-duration="1500"> ➢ I Am Proficient In A Range Of Technologies And Programming Languages, Including HTML, CSS, And JavaScript <br> For Web Development, As Well As Java, Python, And C For Versatile Software Solutions.</><br></p>
           <p id="pp" data-aos="fade-left" data-aos-duration="1500"> ➢ I Am Currently Expanding My Skill Set By Pursuing The MERN Stack,<br> Deepening My Knowledge In Full-Stack Web Development.<br>
           </p>
           <p id="pp" data-aos="fade-right" data-aos-duration="1500">            ➢ My Expertise Also Extends To Using Tkinter For GUI Development And Figma For Design,<br> Allowing Me To Create Intuitive, User-Friendly Interfaces.<br>
           </p>
           <p id="pp" data-aos="fade-left" data-aos-duration="1500">            ➢ I Value Consistency In My Work, Ensuring That Every Project Maintains A High Standard From Start To Finish.<br>
           </p>
           <p id="pp" data-aos="fade-right" data-aos-duration="1500"> ➢ My Logical Problem-Solving Abilities Enable Me To Approach Challenges Creatively, Ensuring Effective<br> Solutions That Align With Project Goals.
           </p>
        </p>
<div class="icons">
    <i data-aos="fade-up" data-aos-duration="1500" class='bx bxl-java'></i>
    <i class='bx bxl-python' data-aos="fade-down" data-aos-duration="1500"></i>
    <i class='bx bxl-html5' data-aos="fade-up" data-aos-duration="1500"></i>
    <i class='bx bxl-css3' data-aos="fade-down" data-aos-duration="1500"></i>
    <i class='bx bxl-javascript' data-aos="fade-up" data-aos-duration="1500"></i>
    <i class='bx bxl-react' data-aos="fade-down" data-aos-duration="1500"></i>
    <i class='bx bxl-mongodb' data-aos="fade-up" data-aos-duration="1500"></i>
    <i class='bx bxl-nodejs' data-aos="fade-down" data-aos-duration="1500"></i>
    <i class='bx bxl-figma' data-aos="fade-up" data-aos-duration="1500"></i>
</div>

    </section><br>
    <section id="contact" data-aos="fade-down" data-aos-duration="1500">
   
        <form action="https://api.web3forms.com/submit" method="POST" onsubmit="return sub(event)">
            <fieldset>
                <h1>Contact Me <i class='bx bxs-envelope'></i></h1>
                <br>
    
               
                    <input type="hidden" name="access_key" value="f4bf5b2a-790a-4cfe-9587-1c686fc68109">
    
                <label for="name"></label>
                <input type="text" placeholder="user_name" name="name" id="name" required><br><br>
                <label for="mail"></label>
                <input type="email" name="mail" placeholder="example@gmail.com" id="mail" required><br><br>
    
                <label for="message"></label>
                <textarea id="message" placeholder="Communication Here!" name="message" required></textarea><br><br>
    
                <input type="submit" id="submit">
                
            </fieldset>
        </form>
    
    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>

        window.onload = () => {
            document.querySelector(".home1").scrollIntoView(
                {
                    behavior:"smooth"
                }
            )
         };
        document.addEventListener('DOMContentLoaded', function () {
        
            const toggleMenu = document.getElementById('toggle-menu');
            const nav = document.querySelector('nav');
            const menuLinks = nav.querySelectorAll('a');
            
         
            document.addEventListener('click', function (event) {
                // If the clicked element is not the menu or the label, uncheck the checkbox
                if (!nav.contains(event.target) && event.target !== toggleMenu && event.target !== document.querySelector('label') ) {
                    toggleMenu.checked = false;
                }
            });
        
            menuLinks.forEach(link => {
                link.addEventListener('click', function () {
                    toggleMenu.checked = false;
                });
            });
        });
        
        
    </script>
</body>
    </html>
